
@font-face {
	font-family: 'Helvetica Neue';
	src: url('./regular.eot');
	src:
		url('./regular.eot?#iefix') format('embedded-opentype'),
		url('./regular.woff') format('woff'),
		url('./regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('./bold.eot');
	src:
		url('./bold.eot?#iefix') format('embedded-opentype'),
		url('./bold.woff') format('woff'),
		url('./bold.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('./medium.eot');
	src:
		url('./medium.eot?#iefix') format('embedded-opentype'),
		url('./medium.woff') format('woff'),
		url('./medium.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}